---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=incorrect_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"BT6abO4Q18a"}}'
  recorded_at: Tue, 06 Mar 2018 03:49:39 GMT
recorded_with: VCR 4.0.0
