---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/users.get?access_token=incorrect_token&v=5.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"error_code":5,"error_msg":"User authorization failed: invalid
        access_token (4).","request_params":[{"key":"oauth","value":"1"},{"key":"method","value":"users.get"},{"key":"v","value":"5.0"}]}}'
  recorded_at: Tue, 06 Mar 2018 04:06:29 GMT
recorded_with: VCR 4.0.0
